aioredis==2.0.1
alembic==1.11.2
amqp==5.2.0
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
banal==1.0.6
bcrypt==4.0.1
beautifulsoup4==4.12.3
billiard==4.2.0
binaryornot==0.4.4
boolean.py==4.0
cachetools==5.3.1
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
commoncode==31.0.3
container-inspector==32.0.1
crc32c==2.4
cryptography==42.0.5
databases==0.9.0
debian_inspector==31.1.0
dnspython==2.4.1
dockerfile-parse==2.0.1
dparse2==0.7.0
dukpy==0.3.1
ecdsa==0.18.0
email-validator==2.0.0.post2
exceptiongroup==1.1.2
extractcode==31.0.0
extractcode-7z==16.5.210531
extractcode-libarchive==3.5.1.210531
fastapi==0.100.0
fastapi-jwt-auth==0.5.0
fasteners==0.19
filelock==3.13.1
fingerprints==1.2.3
ftfy==6.1.3
gemfileparser2==0.9.3
greenlet==2.0.2
grpcio==1.62.0
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
idna==3.6
importlib-metadata==7.0.1
intbitset==3.1.0
isodate==0.6.1
jaraco.functools==4.0.0
javaproperties==0.8.1
Jinja2==3.1.3
jsonstreams==0.6.0
kombu==5.3.5
license-expression==30.2.0
lxml==4.9.4
Mako==1.2.4
MarkupSafe==2.1.5
more-itertools==10.2.0
normality==2.5.0
packageurl-python==0.14.0
packaging==23.2
packvers==21.5
parameter-expansion-patched==0.3.1
passlib==1.7.4
pdfminer.six==20231228
pefile==2023.2.7
pip-requirements-parser==32.0.1
pkginfo2==30.0.0
pluggy==1.4.0
plugincode==32.0.0
ply==3.11
progress==1.6
prompt-toolkit==3.0.43
protobuf==4.25.3
psycopg2==2.9.6
psycopg2-binary==2.9.6
publicsuffix2==2.20191221
pyahocorasick==2.0.0
pyasn1==0.5.0
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
pygmars==0.8.0
Pygments==2.17.2
PyJWT==1.7.1
pymaven-patch==0.3.0
pyOpenSSL==24.0.0
PyPAC==0.16.4
pyparsing==3.1.1
python-dateutil==2.9.0.post0
python-jose==3.3.0
python-multipart==0.0.6
PyYAML==6.0.1
rdflib==7.0.0
redis==4.6.0
requests==2.31.0
requests-file==2.0.0
rsa==4.9
saneyaml==0.6.0
scancode-toolkit==31.2.4
scanoss==1.5.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
spdx-tools==0.7.0a3
SQLAlchemy==2.0.19
SQLAlchemy-Utils==0.41.1
starlette==0.27.0
text-unidecode==1.3
tldextract==5.1.1
toml==0.10.2
typecode==30.0.1
typecode-libmagic==5.39.210531
typing_extensions==4.7.1
tzdata==2024.1
urllib3==2.2.1
urlpy==0.5
uvicorn==0.23.1
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
xmltodict==0.13.0
zipp==3.17.0
